@font-face {
  font-family: 'Encode Sans';
  src: url('../assets/fonts/EncodeSans-Regular.ttf'); /* IE9 Compat Modes */
}

:root {
  --z-menu: 11;
  --z-nav: 10;
  --z-content: 9;
  --z-content-view: 10;

  --color-blue: rgb(63, 81, 181);
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Encode Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: rgb(38, 50, 56);

  font-size: 14px;
}


a {
  color: rgb(101, 134, 148);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pop {
  from {
    opacity: 0.8;
    transform:  scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.background {
  background-image: url('/assets/img/adrian-infernus.jpg');
  background-size: cover;
}